@import url('https://fonts.googleapis.com/css?family=Roboto');

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  justify-items: center;
}
.card {
  position: relative;
  height: 400px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
  margin: 10px;
}

.card:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.card-img {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

.card-img:hover {
  cursor: pointer;
}

.card:hover .card-img {
  transform: translateY(100px);
}

.card-img > img {
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

.card:hover > .card-img > img {
  opacity: 0.5;
}

.stars {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  padding: 0;
}

.stars > li {
  list-style: none;
}

.stars > li > a {
  display: block;
  height: 30px;
  width: 30px;
  background-color: #fff;
  text-align: center;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.3s ease-out;
}

.card:hover > .stars > li > a {
  transform: translateY(0);
  opacity: 1;
}

.stars > li > a > .fa {
  font-size: 14px;
  line-height: 30px;
  transition: transform 0.3s ease-out;
}

.stars > li > a:hover > .fa {
  transform: rotateY(360deg);
}

.card:hover .stars li:nth-child(1) a {
  transition-delay: 0s;
}

.card:hover .stars li:nth-child(2) a {
  transition-delay: 0.1s;
}

.card:hover .stars li:nth-child(3) a {
  transition-delay: 0.2s;
}

.card:hover .stars li:nth-child(4) a {
  transition-delay: 0.3s;
}

.card:hover .stars li:nth-child(5) a {
  transition-delay: 0.4s;
}

.character-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.character-info > h2 {
  padding: 0;
  margin: 10px 0;
}

.character-info > span {
  color: #262626;
  font-size: 16px;
}
