/* Color Palette */
$blue-gray: hsla(219, 44%, 65%, 1);
$pale-cerulean: hsla(205, 39%, 70%, 1);
$middle-blue-green: hsla(159, 39%, 80%, 1);
$honeydew: hsla(147, 32%, 88%, 1);
$queen-pink: hsla(333, 47%, 84%, 1);
$queen-pink-2: rgb(235, 219, 226);
$soft-red: rgb(255, 108, 127);
$dark-red: rgb(245, 89, 110);
$ercu: hsl(180, 65%, 39%);
