/* Color Palette */
$blue-gray: hsla(219, 44%, 65%, 1);
$pale-cerulean: hsla(205, 39%, 70%, 1);
$middle-blue-green: hsla(159, 39%, 80%, 1);
$honeydew: hsla(147, 32%, 88%, 1);
$queen-pink: hsla(333, 47%, 84%, 1);
